

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body {
    font-size: 100%;
    background: #2A2A2A ;
}

.cabecalho {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 97px;


    background-color: #3f3f3f;
    border-bottom: 5px solid aliceblue;

    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
    color: aliceblue;
    font-weight: 600;
    font-size: 25px
    
}


.box {
    position: relative;
    display: flex;
    align-items: center;}


.box .line{
    width: 550px;
    height: 5px;
    background-color: aliceblue;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
    transition: 4s ease;
}

.box:hover .line {
    width: 50px;
    transition: 4s ease;
  }


.line2{
    border-left: 5px solid;
    height: 50px;
    background-color: aliceblue;
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.25);
}  

.botões{
    background-color: #3f3f3f;

    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px 40px;
    position: absolute;
    left: 900px ;
    
}

.botao_disc{
    background-color: #1A1A1A;
    color: aliceblue;
    padding: 3px 5px;
    text-align: center;
    cursor: pointer;

    width: 130px;
    height: 25px;
    border-color: aliceblue;
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5;

}

.botao_disc:hover{
    background-color: #3f3f3f;
    box-shadow: 0px 0px 5px rgba(240, 248, 255, 0.219);

}

.botao_playlist{
    background-color: #1A1A1A;
    color: aliceblue;
    padding: 3px 5px;
    text-align: center;
    font-family: Roboto, sans-serif;
    cursor: pointer;

    width: 130px;
    height: 25px;
    border-color: aliceblue;
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5;

}

.botao_playlist:hover{
    background-color: #3f3f3f;
    box-shadow: 0px 0px 5px rgba(240, 248, 255, 0.219);

}

.estrela_header{
    position:relative ;
    left: 0px;
}

.conteudo{
    background-color: #2A2A2A;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.meio_pag{
    width: 400px;
    height: 600px;
    box-shadow: 0px 0px 20px #1A1A1A;
    border: 1px solid rgba(240, 248, 255, 0.356);
}


.text_hide{
    position:absolute;
    left: 469px;
    bottom: 470px;

    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
    opacity: 0;
}

.text_hide_low{
    position:absolute;
    left: 515px;
    bottom: -10px;

    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
    opacity: 0;
}


.meio_pag .imagem1{
    position: absolute;
    left: 460px;
    bottom: 50px;
}

.meio_pag .imagem2{
    position: absolute;
    left: 460px;
    bottom: -55px;
    opacity: 0;
}
.meio_pag:hover{
    box-shadow: 0px 0px 20px aliceblue;
    border: none;
    background-color:#3534348c;
    transition: 1s ease
}

.meio_pag:hover .imagem2{
    opacity: 1;
    transition: 3s ease;

}

.meio_pag:hover .imagem1{
    opacity: 0.9;
}

.meio_pag:hover .text_hide{
    text-shadow: 2px 2px 2px aliceblue;
    opacity: 0.8;
    transition: 2s ease;
}

.meio_pag:hover .text_hide_low{
    text-shadow: 2px 2px 2px aliceblue;
    opacity: 0.8;
    transition: 3s ease;
}

.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 20px;
    gap: 100;

    background-color: #3f3f3f;
    border-top: 5px solid aliceblue;

    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
    color: rgba(240, 248, 255, 0.541);
    font-weight: 400;
    font-size: 14px;
}